[Container]
Image=docker.io/fluent/fluent-bit:{{ ollama_fluentbit_image_tag }}
ContainerName=fluentbit
Exec=-c /fluentbit.conf
Volume=./fluentbit.conf:/fluentbit.conf:ro,z
Network=ollama.network
{% if ollama_fluentbit_expose_insecure %}
{% if ollama_fluentbit_expose_insecure_only_local %}
PublishPort=127.0.0.1:2021:2021
{%else %}
PublishPort=2021:2021
{% endif %}
{% endif %}

[Install]
WantedBy=default.target
