[Container]
Image=docker.io/ollama/ollama:{{ ollama_container_image_tag }}
ContainerName=ollama
Volume=ollama.volume:/root/.ollama
AddDevice=nvidia.com/gpu=all
SecurityLabelDisable=true
Network=ollama.network
{% if ollama_expose_insecure_port %}
{% if ollama_expose_insecure_port_only_local %}
PublishPort=127.0.0.1:11434:11434
{%else %}
PublishPort=11434:11434
{% endif %}
{% endif %}

[Install]
WantedBy=default.target
