[Kube]
Yaml=ollama-proxy.yml
PublishPort={{ ollama_secured_port }}:{{ ollama_secured_port }}
{% if ollama_proxy_admin_expose_insecure %}
{% if ollama_proxy_admin_expose_insecure_only_local %}
PublishPort=127.0.0.1:9901:9901
{% else %}
PublishPort=9901:9901
{% endif %}
{% endif %}
{% if ollama_proxy_admin_expose_secure %}
PublishPort={{ ollama_proxy_admin_secure_port }}:{{ ollama_proxy_admin_secure_port }}
{% endif %}
{% if ollama_fluentbit_enable and ollama_fluentbit_expose_secure %}
PublishPort={{ ollama_fluentbit_expose_secure_port }}:{{ ollama_fluentbit_expose_secure_port }}
{% endif %}
Network=ollama.network
ConfigMap=ollama-proxy-config.yml

[Install]
WantedBy=default.target
